*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Roboto',sans-serif;
}

body{
background:black;
color:white;
overflow-x:hidden;
}

/* INTRO */

#intro{
position:fixed;
top:0;
left:0;
width:100%;
height:100vh;
background:#111111;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:20px;
z-index:9999;
}

/* TEXTO INTRO */

.logo-intro{
font-size:2.5rem;
font-weight:900;
color:#00e0ff;
letter-spacing:3px;
text-align:center;
}

/* LOGO INTRO */

#intro img{
width:200px;
height:auto;
object-fit:contain;
}

/* HOVER CARDS */

.card{
transition:all 0.3s ease;
cursor:pointer;
}

.card:hover{
transform:translateY(-8px) scale(1.03);
box-shadow:0 15px 35px rgba(0, 0, 0, 0.6).6;
border:1px solid #00e0ff;
}

/* BOTONES */

.card-buttons button{
transition:all 0.25s ease;
}

/* AGREGAR AL CARRITO */

.card-buttons button:first-child:hover{
background:#00e0ff;
color:#000;
transform:scale(1.05);
}

/* COMPRAR AHORA */

.secondary-btn:hover{
background:#25D366;
color:white;
transform:scale(1.05);
box-shadow:0 5px 15px rgba(37,211,102,0.5);
}

@keyframes zoomIntro{
0%{transform:scale(0.5);opacity:0}
100%{transform:scale(1);opacity:1}
}

/* HERO */

.hero{
padding:80px 20px;
text-align:center;
background:linear-gradient(120deg,#14141c,#1d1d2c);
border-bottom:1px solid #222;
}

.logo-esquina img{
position:absolute;
top:20px;
left:20px;
width:100px;
border-radius:10px;
}

.titulo-principal{
font-size:2.5rem;
margin-top:20px;
font-weight:900;
}

.hero-subtitle{
margin-top:10px;
color:#aaa;
max-width:700px;
margin-left:auto;
margin-right:auto;
}


/* TOOLBAR */

.toolbar-wrap{
padding:40px 20px 10px;
text-align:center;
}

.product-counter{
margin-bottom:10px;
color:#aaa;
}

.toolbar{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.buscador input{
padding:12px 16px;
border-radius:30px;
border:none;
width:260px;
outline:none;
}

.ordenador select{
padding:12px 16px;
border-radius:30px;
border:none;
cursor:pointer;
}

/* FILTROS */

.filtros{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:10px;
padding:20px;
}

.filter-btn{
padding:8px 16px;
border-radius:30px;
border:1px solid #333;
background:#181822;
color:white;
cursor:pointer;
transition:0.3s;
}

.filter-btn:hover{
background:#00e0ff;
color:#000;
}

.active-filter{
background:#00e0ff;
color:#000;
}

/* CATALOGO */

.catalogo{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:25px;
padding:40px;
max-width:1200px;
margin:auto;
}

/* TARJETAS */

.card{
background:#181822;
border-radius:16px;
padding:20px;
text-align:center;
position:relative;
transition:0.3s;
box-shadow:0 0 10px rgba(0,0,0,0.4);
display:flex;
flex-direction:column;
justify-content:space-between;
border:1px solid #79d5ec;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 10px 25px rgb(68, 228, 5);
}

.card img{
width:90px;
margin:auto;
margin-bottom:10px;
}

.card h2{
margin-bottom:5px;
}

.precio{
font-size:20px;
font-weight:700;
color:#00e0ff;
margin:10px 0;
}

.descripcion{
font-size:14px;
color:#aaa;
margin-bottom:15px;
}



/* FAVORITO */

.favorite-btn{
position:absolute;
top:10px;
right:10px;
background:none;
border:none;
font-size:18px;
color:#fdfcfc;
cursor:pointer;
}

.favorite-btn.active{
color:red;
}

/* BOTONES */

.card-buttons{
display:flex;
flex-direction:column;
gap:10px;
}

.card-buttons button{
padding:10px;
border:none;
border-radius:8px;
cursor:pointer;
font-weight:600;
}

.card-buttons button:first-child{
background:#00e0ff;
color:#000;
}

.secondary-btn{
background:#25D366;
color:white;
}

/* CARRITO */

.cart-icon{
position:fixed;
top:20px;
right:20px;
background:#1e1e1e;
padding:12px 16px;
border-radius:50px;
cursor:pointer;
border:2px solid #00e5ff;
transition:0.3s;
z-index:200;
}

.cart-icon:hover{
box-shadow:0 0 15px #00e5ff;
transform:scale(1.1);
}

.cart-panel{
position:fixed;
right:-400px;
top:0;
width:350px;
height:100%;
background:#141414;
padding:20px;
transition:0.4s;
overflow:auto;
z-index:1000;
}

.cart-panel.active{
right:0;
}

.cart-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.cart-item{
display:flex;
justify-content:space-between;
margin-bottom:10px;
}

/* BOTON CERRAR */

.cart-close-top{
background:#ff3b3b;
border:none;
color:white;
font-size:18px;
padding:6px 12px;
border-radius:6px;
cursor:pointer;
transition:0.3s;
}

.cart-close-top:hover{
box-shadow:0 0 15px #ff3b3b;
transform:scale(1.1);
}

.cart-actions button{
width:100%;
margin-top:10px;
padding:10px;
border:none;
border-radius:8px;
cursor:pointer;
}

.cart-actions button:first-child{
background:#00ff0d;
}

.cart-actions button:first-child:hover{
box-shadow:0 0 15px #00e676;
transform:scale(1.05);
}

.overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgb(7, 7, 7);
display:none;
}

.overlay.active{
display:block;
}

/* VACIAR */

.cart-actions button:last-child{
background:#ff5252;
color:white;
}

.cart-actions button:last-child:hover{
box-shadow:0 0 15px #ff5252;
transform:scale(1.05);
}

/* TESTIMONIOS */

.testimonios{
padding:60px 20px;
text-align:center;
}

.section-title span{
color:#00e0ff;
font-size:14px;
}

.section-title h2{
margin:10px 0 30px;
}

.testimonio-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
max-width:1000px;
margin:auto;
}

.testimonio{
background:#181822;
padding:20px;
border-radius:10px;
}

/* FAQ */

.faq{
padding:60px 20px;
max-width:800px;
margin:auto;
}

details{
background:#181822;
padding:15px;
margin-bottom:10px;
border-radius:8px;
cursor:pointer;
}

/* WHATSAPP */

/* BOTON WHATSAPP */

.whatsapp-float{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:12px;
border-radius:50px;
display:flex;
align-items:center;
gap:10px;
text-decoration:none;
overflow:hidden;
width:50px;
transition:all .3s ease;
box-shadow:0 0 0 rgba(37,211,102,0);
}

/* icono */

.whatsapp-float img{
width:25px;
}

/* texto oculto */

.whatsapp-float span{
opacity:0;
white-space:nowrap;
font-size:14px;
transition:opacity .3s;
}

/* efecto al pasar mouse */

.whatsapp-float:hover{
width:180px;
box-shadow:0 0 15px #25D366;
}

/* mostrar texto */

.whatsapp-float:hover span{
opacity:1;
}

/* FOOTER */

footer{
background:#14141c;
padding:25px;
text-align:center;
margin-top:40px;
color:#aaa;
font-size:13px; /* texto más pequeño */
}

/* BOTON SUBIR */

.back-to-top{
position:fixed;
bottom:20px;
left:20px;
background:#00e0ff;
border:none;
padding:12px;
border-radius:50%;
cursor:pointer;
display:none;
}

.back-to-top.show{
display:block;
}

/* TOAST */

.toast{
position:fixed;
bottom:80px;
right:20px;
background:#00e0ff;
color:#000;
padding:12px 16px;
border-radius:8px;
opacity:0;
transition:0.3s;
}

.toast.show{
opacity:1;
}

/* RESPONSIVE */

@media(max-width:768px){

.catalogo{
grid-template-columns:1fr;
padding:20px;
}

.hero{
padding:60px 20px;
}

.titulo-principal{
font-size:1.8rem;
}

.cart-panel{
width:100%;
}

}



